parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between false and true will always evaluate to false\\.$#"
			count: 1
			path: src/Finder/DoctrineMessageFinder.php

		-
			message: "#^Call to method setTimeout\\(\\) on an unknown class Symfony\\\\Component\\\\Process\\\\Process\\.$#"
			count: 1
			path: src/Handler/AbstractCommandHandler.php

		-
			message: "#^Class DateTimeImmutable is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTimeImmutable;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: src/Handler/AbstractCommandHandler.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\Process\\\\Process not found\\.$#"
			count: 1
			path: src/Handler/AbstractCommandHandler.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\Messenger\\\\Handler\\\\AbstractCommandHandler\\:\\:run\\(\\) has parameter \\$optsAndArgs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Handler/AbstractCommandHandler.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\Messenger\\\\Handler\\\\AbstractCommandHandler\\:\\:run\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Handler/AbstractCommandHandler.php

